# INSERTION DE NOUVELLES DONNEES

######

In [1]:
import os
import pandas as pd
import psycopg2
import csv
import reprlib
import numpy

In [ ]:
# connexion à la bdd collection
conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection4"
)
cur = conn.cursor()
cur.close
conn.close()

- nettoyage des données
- sauvegarder les données nettoyées dans un fichier csv
- insertion nouveau produit:
    - si origine n'existe pas:
        - ajouter dans table origine
    - si producteur n'existe pas:
        - ajouter dans table producteur

######

- nettoyage des nouvelles données

In [17]:
csv_file = 'rhumfullinfo_wikirum.csv'
new_data = pd.read_csv(csv_file)

new_data.head()

,nom,marque,pays,volume,titrage_final
0,Cuba 5 Years,1731 Fine & Rare*,Pays-Bas,700.0,46.0
1,Cuba Dominican Republic (Spanish Caribbean XO),1731 Fine & Rare*,Pays-Bas,700.0,46.0
2,Guatemala Panama Bélize (Central America XO),1731 Fine & Rare*,Pays-Bas,700.0,46.0
3,Panama 6 Years,1731 Fine & Rare*,Pays-Bas,700.0,46.0
4,Trinidad Barbados Jamaica (British West Indies...,1731 Fine & Rare*,Pays-Bas,700.0,46.0

In [18]:
new_data.columns = ['nom', 'producteur', 'origine', 'volume', 'degre']

In [19]:
new_data

,nom,producteur,origine,volume,degre
0,Cuba 5 Years,1731 Fine & Rare*,Pays-Bas,700.0,46.0
1,Cuba Dominican Republic (Spanish Caribbean XO),1731 Fine & Rare*,Pays-Bas,700.0,46.0
2,Guatemala Panama Bélize (Central America XO),1731 Fine & Rare*,Pays-Bas,700.0,46.0
3,Panama 6 Years,1731 Fine & Rare*,Pays-Bas,700.0,46.0
4,Trinidad Barbados Jamaica (British West Indies...,1731 Fine & Rare*,Pays-Bas,700.0,46.0
...,...,...,...,...,...
994,Batch #2 - Colombie (Hacienda Coloma),La Maison Du Rhum*,France,700.0,46.0
995,Rhum Vieux Jamaique 3 Ans,Le Puits A Whisky*,France,700.0,40.0
996,Jamaica 1992 (15th Anniversary 1996-2011) - Lo...,Mac Y*,Danemark,700.0,63.0
997,Jamaique 2007 (Monymusk),Ferroni*,France,500.0,64.5
998,Darsa 2007 (Cask #BB 14) - Cask Strength,L'Esprit*,France,700.0,59.6

In [25]:
new_data['producteur'] = new_data['producteur'].str.replace('*','', regex=True)
new_data['degre'] = new_data['degre'].astype(float)
new_data['volume'] = new_data['volume'] / 10
new_data

,nom,producteur,origine,volume,degre
0,Cuba 5 Years,1731 Fine & Rare,Pays-Bas,70.0,46.0
1,Cuba Dominican Republic (Spanish Caribbean XO),1731 Fine & Rare,Pays-Bas,70.0,46.0
2,Guatemala Panama Bélize (Central America XO),1731 Fine & Rare,Pays-Bas,70.0,46.0
3,Panama 6 Years,1731 Fine & Rare,Pays-Bas,70.0,46.0
4,Trinidad Barbados Jamaica (British West Indies...,1731 Fine & Rare,Pays-Bas,70.0,46.0
...,...,...,...,...,...
994,Batch #2 - Colombie (Hacienda Coloma),La Maison Du Rhum,France,70.0,46.0
995,Rhum Vieux Jamaique 3 Ans,Le Puits A Whisky,France,70.0,40.0
996,Jamaica 1992 (15th Anniversary 1996-2011) - Lo...,Mac Y,Danemark,70.0,63.0
997,Jamaique 2007 (Monymusk),Ferroni,France,50.0,64.5
998,Darsa 2007 (Cask #BB 14) - Cask Strength,L'Esprit,France,70.0,59.6

In [23]:
new_data.to_csv('new_data_wiki.csv', index = False, header=True)

In [ ]:
# connexion à la bdd collection
conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection4"
)
cur = conn.cursor()

for pays in liste:
    cur.execute("SELECT origine.nom FROM origine WHERE origine.nom = (%s) ", (pays,))
    verif = cur.fetchone()
    if not verif:
        cur.execute("INSERT INTO origine (nom) VALUES(%s)", (pays,))

conn.commit()
conn.close()